body{
  background-color: #cad3d3;

}
.container{
  justify-content: center;
  align-items: center;
  
}
.col-sm-4{
  margin-top:180px;
  width:362px;
  margin-left:1.2em;
  margin-bottom:180px;
}

.box {
  width: 120px;
  height: 120px;
  background-color: white;
  position: absolute;
  top: -60px;
  left: calc(50% - 60px);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
}

.box1 span:first-child {
  font-size: 32px;
  color:#3c9ef8;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
}
.box1 span:last-child {
  font-size: 16px;
  color:#bfc8cf;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

.box2 span:first-child {
  font-size: 32px;
  color:#d74498;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
}
.box2 span:last-child {
  font-size: 16px;
  color:#bfc8cf;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
}
.header_sub{
  font-size: 12px;
  color: #a5b5ba;
  font-family: 'Source Sans Pro', sans-serif;
}
.box3 span:first-child {
  font-size: 32px;
  color:#5cb950;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
}
.box3 span:last-child {
  font-size: 16px;
  color:#bfc8cf;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

.header {
  height: 272px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
}

.title {
  padding: 24px 0;
  background-color: white;
}
.title span:first-child {
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  color: #748590;
  margin-bottom: 8px;
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}
.title span:last-child {
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  color: #a7b4bf;
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
.header_title{
  font-size: 32px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

.list {
  list-style: none;
  padding-left: 0px;
  
}

.item:nth-of-type(2n + 1) {
  background-color: #f4f6f7;
}
.item:nth-of-type(2n) {
  background-color: #fff;
}
.item {
  height: 50px;
  color: #5f727f;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0%;
  margin-left: 0%;
}

.button {
  background-color: white;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button1:hover {
  background-color: #2196f7 !important;
  color:#fff;
}
.button1 {
  border-color: #2196f7;
  background-color: white;
  color: #2196f7;
  padding: 16px 32px;
  border: solid 1px #748590;
  background-color: white;
}
.button2:hover {
  background-color: #6c136f !important;
  color:#fff;
}
.button2 {
  border-color: #6c136f;
  background-color: white;
  color: #6c136f;
  padding: 16px 32px;
  border: solid 1px #6c136f;
  background-color: white;
}

.button3:hover {
  background-color: #32ad1e !important;
  color:#fff;
}
.button3 {
  border-color: #32ad1e;
  background-color: white;
  color: #32ad1e;
  padding: 16px 32px;
  border: solid 1px #32ad1e;
  background-color: white;
}

.new{
  width: 60px;
  height: 60px;
  background-size: 60px;
  position: absolute;
  top: -10px;
  left: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
 }
.new span {
  color: white;
  font-size: 12px;
  font-weight: 700;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 0px;
} 